[submodule "node_modules/coffee-script"]
	path = node_modules/coffee-script
	url = git://github.com/jashkenas/coffee-script.git
[submodule "node_modules/pegjs"]
	path = node_modules/pegjs
	url = git://github.com/michaelficarra/pegjs.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = git://github.com/mishoo/UglifyJS.git
[submodule "node_modules/cjs-string-scanner"]
	path = node_modules/cjs-string-scanner
	url = git://github.com/michaelficarra/cjs-string-scanner.git
[submodule "node_modules/mocha"]
	path = node_modules/mocha
	url = git://github.com/visionmedia/mocha.git
