[submodule "node_modules/coffee-script"]
	path = node_modules/coffee-script
	url = git://github.com/jashkenas/coffee-script.git
[submodule "node_modules/pegjs"]
	path = node_modules/pegjs
	url = git://github.com/dmajda/pegjs.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = git://github.com/mishoo/UglifyJS.git
